<div id="<%= dom_id session %>" class="max-w-prose flex flex-col gap-4">

  <p>Current Cost: <%= session.cost %></p>

  <h1>Inventory</h1>
  <dl class="grid grid-cols-2 gap-4">
    <% (session.state&.dig('inventory') || []).each do |name, item| %>
      <dt><%= name %></dt>
      <dd><%= item['amount'] %></dd>
    <% end %>
  </dl>

  <% session.scene_logs.each do |item| %>
    <% if item.role == 'user' %>
      <p class="p-4 bg-green-100"><%= item.content %></p>
    <% elsif item.role == 'assistant' %>
      <% if item.content %>
        <p class="p-4 bg-parchment-500"><%= item.content %></p>
      <% end %>
    <% end %>
  <% end %>

  <div>
    <%= form_with url: prompt_session_path(session), class: "flex flex-col" do |form| %>
      <%= form.text_area :input, size: "80x10" %>
      <div class="flex flex-row justify-between">
        <%= form.submit "Prompt", class: "btn btn-primary" %>
        <%= form.submit "Clear", class: "btn btn-warning", formaction: clear_session_path(session) %>
      </div>
    <% end %>
  </div>

</div>